@tailwind base;
@tailwind components;
@tailwind utilities;

/*Buscador*/
.ais-SearchBox-input {
  width: 35%;
  padding: 5px;
  border: none;
  border-radius: 0.5em;
  color: black;
  background-color: #c4c4c450;
  margin-bottom: 10px;
}

/*fin Buscador*/

/*HITS*/
.ais-Hits {
  width: 100%;
  padding: 1rem;
}

.ais-Hits-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
}

.ais-Hits-item {
  height: auto;
}

/*HITS FIN*/


/*PANEL */

span.text-lg.font-bold {
  color: #202020;
  border-bottom: 2px solid #048C88;
}


span {
  color: #202020;
}

.ais-Panel-body {

}

.ais-RefinementList {

}

.ais-RefinementList-list {

}
.ais-RefinementList-item {
  margin-left: 0px;
  /* color: green; */
}
.ais-RefinementList-label {

}

.ais-RefinementList-checkbox {
  color: blue;
  width: 10px;
}

.ais-RefinementList-labelText {
  padding-left: 0;
}

.ais-RefinementList-count {
  padding-left: 10px;
}

/*PAGINATION*/
.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Pagination-list {
  display: flex;
  justify-content: center;
}
.ais-Pagination-item {
  margin: 5px;
}

.ais-Pagination-link{

}
/*PAGINATION FIN*/


/*INPUT SEARCH*/
.ais-SearchBox-reset {
  display: none;
}
.ais-SearchBox-submit {
  width: 100px;
  padding: 15px;
  display: none;
  color: #c4c4c450;
}

input {
  border: none;
  border-radius: 0.5em;
  padding: 10px;
  color: black;
}
/*INPUT SEARCH FIN*/


/* @media screen and (max-width: 500px) {
  input {
    min-width: 100%;
  }
}


@media screen and (min-width: 501px) {
  input {
    min-width: 500px;
  }
} */

